section.hero {
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 2rem;
  margin-inline: auto;

  & h1 {
    max-width: 40rem;
  }

  & h1 div {
    display: inline-block; /*se deixar block sempre vai quebrar a linha, já inline-block, mantém as proporções inline e block(ex: altura e largura)*/
    border: 2px solid violet;
    overflow: hidden; /*não vai aparecer nada após a altura definida*/
    height: 5rem;
    width: min-content; /*define o mínimo de conteúdo que possa ter de largura que não vai quebrar as letras, mas pode quebrar palavras, ou seja pega a maior palavra e define a largura da caixinha*/
    vertical-align: bottom;
  }

  & h1 span:nth-child(1),
  & h1 span:nth-child(4) {
    color: var(--snitap-sky-mid);
  }

  & h1 span:nth-child(2) {
    color: var(--snitap-joy-mid);
  }

  & h1 span:nth-child(3) {
    color: var(--snitap-leaf-mid);
  }

  & h1 span {
    display: block; /*só para garantir que fique no quadrado*/

    animation: slideUp 6s infinite ease;
  }
}

@keyframes slideUp {
  0%,
  22% {
    transform: translateY(0rem); /*aqui é a palavra radical*/
  }
  23% {
    transform: translateY(calc(-5rem - 15px));
  }
  25% {
    transform: translateY(calc(-5rem + 10px));
  }

  27% {
    transform: translateY(calc(-5rem - 5px));
  }

  29% {
    transform: translateY(calc(-5rem + 5px));
  }
  33%,
  55% {
    transform: translateY(
      -5rem
    ); /*o radical sobe para aparecer a palavra divertida , observar a altura definida como 5 (se subir a 5rem vai sumir da caixinha e vai aparecer o próximo    )*/
  }

  56% {
    transform: translateY(calc(-10rem - 15px));
  }
  58% {
    transform: translateY(calc(-10rem + 10px));
  }

  60% {
    transform: translateY(calc(-10rem - 5px));
  }

  62% {
    transform: translateY(calc(-10rem + 5px));
  }

  66%,
  88% {
    transform: translateY(-10rem); /*divertida sobre para aparecer saudável*/
  }

  89% {
    transform: translateY(calc(-15rem - 15px));
  }
  91% {
    transform: translateY(calc(-15rem + 10px));
  }

  93% {
    transform: translateY(calc(-15rem - 5px));
  }

  95% {
    transform: translateY(calc(-15rem + 5px));
  }

  100% {
    transform: translateY(
      -15rem
    ); /*volta para a palavra radical, mas essa é definida como uma quarta span*/
  }
}
